* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial Black', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
}

.col {
    background-color: #530000;
    padding: 15px;
    margin: 0; /* Remove margin to ensure full width */
    border: 1px solid #000000;
}

.table {
    background-color: #530000;
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    color: #ffffff;
}

.head th,
.row td {
    border: 1px solid black;
    background-color: #8a0000;
    padding: 10px;
    font-weight: normal;
    font-family: Verdana, sans-serif;
}

.head th {
    width: 50%;
    font-weight: bold; 
}

.row td {
    text-align: left;
    font-weight: normal;
}

.col {
    border-collapse: collapse;
}

.header {
    border: 2px solid #000000;
    padding: 50px;
    background-color: #6d0000;
    color: #fff;
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-3,
.col-6 {
    max-width: 100%;
}

.col-3 {
    background-color: #530000;
    text-align: center;
}

.col-3 h2,
.col-3 p,
.col-3 li {
    color: white;
}

.col-3 h2,
.col-3 p {
    text-align: left;
}

.col-3 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.col-3 li {
    margin-bottom: 3px;
    background-color: #800000;
    padding: 8px;
}

.col-3 li a {
    color: white;
    text-decoration: none;
}

.col-6 {
    font-family: Verdana, sans-serif;
    background-color: #530000;
}

.col-6 h2,
.col-6 p {
    color: white;
}

.photo-boxes {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000000; 
}

.photo-box {
    flex-basis: calc(33.33% - 2px); 
    text-align: center;
    margin: 0;
    border-right: 1px solid #000000; 
    padding: 5px;
}

.photo-box:last-child {
    border-right: none; 
}

.photo-box img {
    width: 100%;
    height: auto;
}

.photo-box p {
    font-size: 14px; 
}

[class*="col-"] {
    float: left;
    width: 100%; /* Set all columns to full width */
    padding: 15px;
    border: 1px solid #000000;
}

@media only screen and (max-width:600px ) {
    [class*="col-"] {
        width: 100%;

      } 
    .container{
        padding-right: 100px;
    }
}

@media only screen and (min-width:1280px ) {

   .col-3{
    width: 25%;
   }

   .col-6{
    width: 50% ;
   }

   .col-3{
    width: 25%;
   }
}